<h1>Free Code Camp Url Shortner Project</h1>
<h2>User stories:</h2>
<ul>

    <li>
    I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
    </li>
    <li>
    When I visit that shortened URL, it will redirect me to my original link.
    </li>
</ul>

    <strong>Example Url Shortening</strong>
    <br/>
    https://little-url.herokuapp.com/new/https://www.google.com
    <br/>
    <br/>
    <strong>Output</strong><br/>
    { "original_url":"https://www.google.com", "short_url":"https://little-url.herokuapp.com/2" }
    <br/><br/>
   <strong>Visit Short Url</strong><br/>
    https://little-url.herokuapp.com/2<br/>
    <strong>Will redirect to:</strong><br/>
    https://www.google.com/
